<ion-card style="height: 100%; text-align: center">

  <h1 style="color: white"><b>My Trips</b></h1>

  <div>
    <div *ngFor="let trip of trips; let i = index" style="display: flex; width: 100%; justify-content: center">
      <ion-item style="width: 50%" (mouseenter)="hover = i" (mouseleave)="hover = null">
        <ion-label>{{trip.name}}</ion-label><!--<span style="opacity: 0.5">{{trip.date}}</span>-->
        <ion-icon *ngIf="hover == i" name="open" (click)="selectTrip(i)"></ion-icon>
        <ion-icon *ngIf="hover == i" name="trash" (click)="deleteTrip(i)"></ion-icon>
      </ion-item>
    </div>
  </div>

</ion-card>